<!DOCTYPE html>
<html>
  <head>
    <title>E4 Class Site</title>

    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- main -->
    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body ng-app="ClassSite" id="top-page">
    <!-- ng-viewport -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" ng-controller="HomeCtrl">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top" du-smooth-scroll duration="1000">NSS Evening Cohort 4</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-toggle="collapse" data-target=".navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#about" du-smooth-scroll duration="1000">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#developers" du-smooth-scroll duration="1000">Developers</a>
            </li>
            <li>
              <a class="page-scroll" href="#technology" du-smooth-scroll duration="1000">Technology</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <header>
      <div class="header-content" id="page-top">
        <div class="header-content-inner align-top">
          <h1 id="homeHeading">NSS Evening Cohort 4</h1>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <img src="/images/e4-white.png" alt="" class="logo">
              <div class="boxes">
                <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i>
              </div>
              <p class="text-faded">Coming together as a diverse group of professionals, we started the 12-month night program at Nashville Software School with our hearts set on becoming full-stack developers.  NSS offers an intensive curriculum designed to give every student the foundation needed to succeed as software developers.  Local companies have often said one of the things that differentiates NSS grads from traditional Computer Science grads is the real-world experience we are exposed to in the classroom.</p>
              <p class="text-faded">Working in an Agile/Scrum environment, we were tasked with problem solving user stories individually and in teams.  Using source code/version control (git/gitHub), we were able to simulate an actual company experience. This setting allowed a mixed group of "used to be" teachers, lawyers, biologists and musicians to get a feel for what it would be like to join a team of developers.</p>
              <p class="text-faded">Lucky for you, after hours of coding and late nights, we are ready, willing and able to take on your coding challenges. As a class we were taught a rigourus tech stack (see the technology section below) but many of us played with other languages in our own sandboxes. Get to know each of us below by clicking through to our portfolio / github / linkedin pages.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="developers" ng-controller="HomeCtrl">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Meet The Developers</h2>
            <div class="boxes">
              <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i>
            </div>
            <p class="text-center">Enter a hobby or where you were born and see what you have in common with our cohort. Go crazy, you never know what you will find out about a person.</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="ie. hike or read or sing ..." ng-model="searchText" id="search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="clear()"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <div ng-repeat="developer in developers | filter: searchText">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                  <div ng-mouseover="showFun = true" ng-mouseleave="showFun = false" ng-show="developer.image">
                    <img class="img-thumbnail" ng-show="!showFun" ng-src="{{developer.image}}">
                    <img class="img-thumbnail" ng-show="showFun" ng-src="{{developer.funImage}}">
                  </div>
                  <h3 ng-show="developer.name">{{developer.name}}</h3>
                  <p ng-show="developer.about">{{developer.about}}</p>
                  <a ng-href="{{developer.linkedIn}}" title="" target="_blank" class="weblink" title="linkedIn"> <i class="fa fa-linkedin-square" aria-hidden="true" ng-show="developer.linkedIn"></i></a>
                  <a ng-href="{{developer.portfolio}}" title="" target="_blank" class="weblink" title="portfolio"><i class="fa fa-briefcase" aria-hidden="true" ng-show="developer.portfolio"></i></a>
                  <a ng-href="{{developer.github}}" title="" target="_blank" class="weblink" title="github"><i class="fa fa-github" aria-hidden="true" ng-show="developer.github"></i></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark" id="technology" ng-controller="HomeCtrl">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Technology</h2>
            <div class="boxes">
              <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div ng-repeat="techIcon in techIcons">
            <div class="col-lg-2 col-md-3 col-xs-4 text-center">
              <div class="service-box">
                <img class="techImage" title="{{techIcon.title}}" data-toggle="tooltip" onmouseenter="$(this).tooltip('show')" ng-src="{{techIcon.img}}" ng-show="techIcon.img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="bd-footer text-muted">
    <div class="container text-center">
      <h6><i class="fa fa-copyright" aria-hidden="true"></i>2017 E4-Cohort NSS | <a href="#page-top" du-smooth-scroll duration="1000">TOP</a></h6>
    </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="lib/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/node_modules/angular/angular.min.js"></script>
    <script src="lib/node_modules/angular-route/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/AppConfig.js"></script>
    <script src="/javascripts/Controllers/HomeCtrl.js"></script>
  </body>
</html>