<!DOCTYPE html>
<html>

<head>
    <title>Our Cool Class Site</title>
    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- main -->
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body ng-app="ClassSite">

    <!-- ng-viewport -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#developers">Developers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#technology">Technology</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">E4 Cohort</h1>
                <div class="boxes">
                    <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i>
                </div>

                <a href="#about" class="btn btn-primary btn-xl page-scroll">learn more</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About</h2>
                    <div class="boxes">
                        <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i>
                    </div>
                    <p class="text-faded">UPDATE this later. Technology powers our economy. It's the engine that drives the future of health care, of publishing, of the music and entertainment, of logistics and nearly every other industry. And Nashville has a great need for
                        more software developers. The lack of a deep talent pool in the field isn't a problem exclusive to this region. Many major cities across the country have the same shortage. NSS began in 2012 as a proactive approach to continuously
                        educating and homegrowing emerging software developers in Music City.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="developers" ng-controller="HomeCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Meet The Developers</h2>
                    <div class="boxes">
                        <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i>
                    </div>
                    <p class="text-center">Enter a hobby or where you were born and see what you have in common with our cohort. Go crazy, you never know what you will find out about a person.</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ie. hike or read or sing ..." ng-model="searchText" id="search">
                        <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="clear()"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div ng-repeat="developer in developers | filter: searchText">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                            <div class="service-box">
                                <div ng-mouseover="showFun = true" ng-mouseleave="showFun = false" ng-show="developer.image">
                                    <img class="img-thumbnail" ng-show="!showFun" ng-src="{{developer.image}}">
                                    <img class="img-thumbnail" ng-show="showFun" ng-src="{{developer.funImage}}">
                                </div>
                                <h3>{{developer.name}}</h3>
                                <p>{{developer.about}}</p>
                                <a ng-href="{{developer.linkedIn}}" title="" target="_blank" class="weblink" title="linkedIn"> <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                <a ng-href="{{developer.portfolio}}" title="" target="_blank" class="weblink" title="portfolio"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                                <a ng-href="{{developer.github}}" title="" target="_blank" class="weblink" title="github"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark" id="technology" ng-controller="HomeCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technology</h2>
                    <div class="boxes">
                        <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- PLACEHOLDERS for Tech icons -->
            <div class="row">
                <div ng-repeat="techIcon in techIcons">
                    <div class="col-lg-2 col-md-3 col-xs-4 text-center">
                        <div class="service-box">
                            <img class="techImage" title="{{techIcon.title}}" data-toggle="tooltip" onmouseenter="$(this).tooltip('show')" ng-src="{{techIcon.img}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bd-footer text-muted">
        <div class="container text-center">
            <h6><i class="fa fa-copyright" aria-hidden="true"></i>2017 E4-Cohort NSS | <a href="#homeHeading">TOP</a></h6>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="lib/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/node_modules/angular/angular.min.js"></script>
    <script src="lib/node_modules/angular-route/angular-route.min.js"></script>
    <!-- angular -->
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/AppConfig.js"></script>

    <!--   <script src="/javascripts/main.js" type="text/javascript" charset="utf-8" async defer></script> -->
    <!-- controllers -->
    <script src="/javascripts/Controllers/HomeCtrl.js"></script>


</body>

</html>